

<section class="form-wrapper">
  <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && resetPassword()" autocomplete="off" class="the-form">

    <h2 class="text-center text-primary mt-4">Set a new password</h2>
    <hr>

    <app-text-input [formControl]="$any(registerForm.controls['password']) " [label]="'Password'" [type]="'password'"></app-text-input>

    <app-text-input [formControl]="$any(registerForm.controls['confirmPassword']) " [label]="'Confirm Password'" [type]="'password'"></app-text-input>

  <div class="row" *ngIf="validationErrors">
    <ul class="text-danger">
      <li *ngFor="let error of validationErrors" class="text-danger2">
        {{error}}
      </li>
    </ul>
  </div>

    <div class="text-center">
      <button [disabled]="!registerForm.valid" class="btn btn-primary me-2" type="submit">Confirm</button>
    </div>
  </form>
  </section>
