

<h1>Link to reset your password will be sent to your e-mail</h1>

<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <input class="form-control"
                placeholder="E-mail address"
                name="email"
                [(ngModel)]="model.email" />
                <button class="btn btn-primary" (click)="forgotPassword()">Submit</button>
            </div>
        </form>
    </div>
</div>

<!--@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}-->
