.get-premium {
  height: 100vh;
  background-color: rgba(176, 243, 252, 1);
background-image: linear-gradient(90deg, rgba(176, 243, 252, 1) 0%, rgba(211, 249, 252, 1) 100%);
}

.user {
  width: 90vw;
  margin: auto;
}
.text {
  padding: 10px;
  margin-top: 20px;
  font-size: 28px;
  font-weight: 650;
  text-align: center;
  color: rgb(13, 0, 87);
}
.text-small {
  text-align: center;
  font-size: 18px;
}
.polish-premium-box {
  width: 70%;
  height: 50px;
  border: 1px solid gray;
  border-radius: 4px;
  margin: auto;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 40px;
}
.polish-premium-box img {
  height: 40px;
}
.polish-premium-box span {
  font-size: 18px;
  font-weight: 600;
}

.price-box {
  position: relative;
  width: 90%;
  height: 165px;
  border-radius: 7px;
  margin: auto;
  background-color: white;
  display: grid;
  align-items: center;
  justify-content: space-around;
}

.amazing-value {
  background-color: #f5086a;
  height: 45px;
  width: 27vw;
  position: absolute;
  top: -20px;
  left: 60%;
  color: white;
  font-weight: 700;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.amazing-value div {
  position: relative;
}

.amazing-value div::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: -60%;
  left: 10%;
  transform: rotate(45deg);
  background-color: #f5086a;
}

.lifetime {
  width: 75vw;
  display: flex;
  align-items: center;
  //gap: 30%;
  justify-content: space-between;
  border: 1px solid black;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
}

.lifetime-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid green;
  margin-top: -10%;
}

.lifetime-right button {
  width: 40vw;
  background-color: #f5086a;
  color: white;
  padding: 9px 18px;
  border: none;
  font-weight: 700;
  font-size: 24px;
}
.lifetime-left h4 {
  font-size: 34px;
}

.previous-price {
  color:#f5086a;
  font-size: 24px;
  position: relative;
}
.previous-price::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  background-color: #f5086a;
  transform: translateY(-50%);
}
.current-price {
  font-size: 26px;
  margin-top: -4%;

}
