<section class="get-premium">

  <div class="no-user" *ngIf="registerM && !(accountService.currentUser$ | async) as user">
<app-register (submit)="cancelRegisterM()"></app-register>
  </div>

  <div class="user" *ngIf="(accountService.currentUser$ | async) as user">
    <div class="info">
      <p class="text">Get lifetime access to all of the Premium Content for just</p>
      <p class="price">$34.00</p>
    </div>
    <button class=" btn btn-lg btn-success get-premium-btn" (click)="test()" >Get Premium</button>
  </div>



</section>







