.get-premium {
  height: 100vh;
}


.text {
  margin-top: 20px;
  font-size: 26px;
  font-weight: 550;
  text-align: center;
}

.price {
  font-size: 56px;
  text-align: center;
  color: rgb(65, 5, 206);
}

.get-premium-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin:auto;
}
