

h1 {
  text-align: center;
  font-size: 48px;
}

.intro {
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
}

.intro img {
  height: 320px;
  width: 100%;
}
.intro-desc-box {
  padding: 20px;
  background-color: rgba(240, 242, 253, 1);
  background-image: linear-gradient(89deg, rgba(240, 242, 253, 1) 0%, rgba(241, 243, 253, 1) 100%);
}
.intro-desc {
  width: 90vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

.stories-desc-box {
  padding: 20px;
}
.sm-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.sm {
  height: 220px;
  width: 340px;
  border-radius: 10px;
}


.tab-heading {
  color: red;
}

///////////////Steps////////////////////////
///

.secure-box {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.secure {
  margin-bottom: 30px;
}

.secure img {
  height: 220px;
  width: 83vw;
  max-width: 380px;
  border-radius: 10px;
  border: 1px solid rgb(216, 209, 209);
 // filter: invert(21%) sepia(80%) saturate(6712%) hue-rotate(326deg) brightness(94%) contrast(104%);
}
.sec-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 13px;
}
.sec-pay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec-stripe {
  display: flex;
  justify-content: center;
  align-items: center;
  //max-width: 415px;
}
.sec-stripe-acc {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 60px;
  max-width: 415px;
}


@media only screen and (max-width: 346px) {
  h1 {
    font-size: 32px;
  }
}
