
<section class="home">
<div class="intro">

  <img src="/assets/intro.jpg">
  <div class="intro-desc-box">
  <div class="intro-desc">
    <h4>Start Conversing in Polish in No Time</h4>
    <span>Almost all experts agree that the best and fastest way to learn a foreign language is with comprehensible input. With our professionally created stories you get everything you need to start speaking Polish in no time.</span>
  </div>
</div>
  </div>

  <div class="stories-desc-box">
    <div class="stories-desc">
      <h4>Expertly-designed stories for enjoyable and effective learning</h4>
      <span>Whether you are a complete begginer, or a more advanced student, you will find something that suits you and will take your language skills to the next level.</span>
    </div>
  </div>
  <div class="sm-box">
  <img class="sm" src="/assets/sm.jpeg">
</div>

  <div class="tab-wrap">
    <tabset class="level-tabs">
      <tab heading="Level A1">
        <app-a1stories></app-a1stories>
      </tab>
      <tab heading="Level A2">
        <app-a2stories></app-a2stories>
      </tab>
      <tab heading="Level B1">
        <app-b1stories></app-b1stories>
      </tab>
      <tab heading="Level B2">
        <app-b2stories></app-b2stories>
      </tab>
    </tabset>
  </div>

  <div class="secure-box">
    <div class="secure">

     <div class="sec-pay"> <h4>1. Read, look up new words and read again</h4></div>
     <div class="sec-img"> <img src="/assets/P1.jpg"></div>
     <div class="sec-stripe"> <p>One of the most important things when learning a language is expanding your vocabulary. The more words you know, the easier it gets to express yourself on a variety of subjects. The more words you know, the easier it will become to understand what people say and to understand what you read. While reading you also subconsciously learn grammar, so you are basically killing two birds with one stone.</p></div>
    </div>

    <div class="secure">

      <div class="sec-pay"> <h4>2. Read and listen at the same time</h4></div>
      <div class="sec-img"> <img src="/assets/P1.jpg"></div>
      <div class="sec-stripe"> <p>Now as you've read the story and got familiar with the vocabulary you can move on and listen to the story while reading it. This is a really powerful combination that will make you remember what you just learned </p></div>
     </div>
  </div>


</section>
